@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusModel
@{
  var bus = Model.Bus;
}
<h1>Formulario buses.</h1> 
<div class="text-center">
  <form method="POST">
      <label for="marca" class="form-label">Digite la marca:</label>
      <input type="text" class="form-control" id="marca" placeholder="Marca bus" asp-for="@bus.marca" required>
      <label for="modelo" class="form-label">Digite el modelo:</label>
      <input type="number" class="form-control" id="modelo" placeholder="Modelo bus" asp-for="@bus.modelo" required>
      <label for="kilometraje" class="form-label">Digite el kilometraje</label>
      <input type="number" class="form-control" id="kilometraje" placeholder="Kilometraje  bus" asp-for="@bus.kilometraje" required>
      <label for="numero_asientos" class="form-label">Digite el número de asientos:</label>
      <input type="number" class="form-control" id="numero_asientos" placeholder="# de asientos" asp-for="@bus.numero_asientos" required>
      <label for="placa" class="form-label">Digite la placa del bus:</label>
      <input type="text" class="form-control" id="placa" placeholder="Placa bus" asp-for="@bus.placa" required>
      <hr>
      <button type="submit" class="btn btn-success" style=" background-color: gray; border-color: black; font-size: black;">Enviar</button>
</form>
</div>