
@page
@model ProyectoCiclo3.App.Frontend.Pages.EditBusModel
@{
    var bus = Model.Bus;
}

<div class="text-">
  <form method="post">
      <label for="id" class="form-label">Digite el ID:</label>
      <input type="text" class="form-control" id="id" name="id" placeholder="ID bus" asp-for="@bus.id">
      <label for="marca" class="form-label">Digite la marca:</label>
      <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca bus" asp-for="@bus.marca">
      <label for="modelo" class="form-label">Digite el modelo:</label>
      <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo bus" asp-for="@bus.modelo">
      <label for="kilometraje" class="form-label">Digite el kilometraje</label>
      <input type="number" class="form-control" id="kilometraje" name="kilometraje" placeholder="Kilometraje  bus" asp-for="@bus.kilometraje">
      <label for="numero_asientos" class="form-label">Digite el número de asientos:</label>
      <input type="number" class="form-control" id="numero_asientos" name="numero_asientos"placeholder="# de asientos" asp-for="@bus.numero_asientos">
      <label for="placa" class="form-label">Digite la placa del bus:</label>
      <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa bus" asp-for="@bus.placa" readonly>
      <hr>
      <button type="submit" class="btn btn-success" style=" background-color: gray; border-color: black; font-size: black;">Enviar</button>
</form>
</div>