@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutaModel
@{
}
 
<h1>Listado de las rutas</h1>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}

tr:hover {background-color: slateblue;}
</style>
<table class="table">
     <tr>
      <td>Identificador</td>
      <td>Estacion Origen</td>
      <td>Estacion Destino</td>
      <td>Tiempo estimado (Horas)</td>
    </tr>
    @foreach (var ruta in Model.Rutas)
    {
        <tr>
            <td>@ruta.id</td>
            <td>@ruta.origen</td>
            <td>@ruta.destino</td>
            <td>@ruta.tiempo_estimado</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-rutaId="@ruta.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-estacionId="@ruta.id">Editar</a>
              <form method="POST">
              <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@ruta.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
              </form>
              </td>
        </tr>
    }
</table>