@page
@model ProyectoCiclo3.App.Frontend.Pages.EditEstacionesModel
@{

    var estacion = Model.Estacion;
}

<div class="text-">
  <form method="post">
      <label for="id" class="form-label">Digite el ID:</label>
      <input type="text" class="form-control" id="id" name="id" placeholder="ID Estacion" asp-for="@estacion.id".readonly>
      <label for="nombre" class="form-label">Digite el nombre de la estacion:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre Estacion" asp-for="@estacion.nombre">
      <label for="direccion" class="form-label">Digite la direccion de la estacion:</label>
      <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion Estacion" asp-for="@estacion.direccion">
      <label for="coord_x" class="form-label">Digite la coordenada X de la estacion</label>
      <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="coord_x Estacion" asp-for="@estacion.coord_x">
      <label for="coord_y" class="form-label">Digite la coordenada X de la estacion:</label>
      <input type="number" class="form-control" id="coord_y" name="coord_y"placeholder="coord_y Estacion" asp-for="@estacion.coord_y">
      <label for="tipo" class="form-label">Digite el tipo de estacion:</label>
      <input type="text" class="form-control" id="tipo" name="tipo" placeholder="tipo Estacion" asp-for="@estacion.tipo">
      <hr>
      <button type="submit" class="btn btn-success" style=" background-color: gray; border-color: black; font-size: black;">Enviar</button>
</form>
</div>