@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEstacionModel
@{
}
 
<h1>Listado de las estaciones</h1>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
  background-color: #04AA6D;
  color: white;
}
tr:hover {background-color: lightgray;}
</style>
<table class="table">
    @foreach (var estacion in Model.Estaciones)
    {
        <tr>
            <td>@estacion.id</td>
            <td>@estacion.nombre</td>
            <td>@estacion.direccion</td>
            <td>@estacion.coord_x/td>
            <td>@estacion.coord_y</td>
            <td>@estacion.tipo</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-estacionId="@estacion.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" href="">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>
